<h1>Listing clients</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Company</th>
      <th>Website</th>
      <th>Contact</th>
      <th></th>
    </tr>
  </thead>

<% @clients.each do |client| %>
  <tbody>
    <tr>
      <td><%= link_to client.name, edit_client_path(client) %></td>
      <td><%= client.website %></td>
      <td><%= client.contacts.first.try(:name)%></td>
      <td><%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
  </tbody>
<% end %>
</table>
<br />
<%= link_to 'New Client', new_client_path, :class => 'btn btn-primary' %>
