<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @client.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Address:</b>
</p>

<p>
  <b>Website:</b>
  <%= @client.website %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
